.navbar-text img {
  max-height:25px;
  width:auto;
  vertical-align:middle;
  padding-right: 10px;
}
body {
    padding-top: 50px;
}
.main {
  padding: 40px 15px;
}
.point {
  color: red;
}

.editing {
  border: 1px dashed red;
}
